.bg-body-tertiary {
    background-color: #40513B !important;
}

.white-navbar-toggle {
    color: white !important;
    background-color: white;
}

i {
    font-size: 36px;
}

.navCenter {
    display: flex;
    justify-content: space-between ; 
    align-items: center;
    padding: 20px;
}

.navColor{
    background-color: #9DC08B;
    margin: 10px;
    border-radius: 32px 64px;
    color: #40513B;
}

span{
    font-size: 20px;
    font-weight: bold;
}

.canvas{
    background-color: #40513B;
    color: #FFF;
}

.btn-close{
    background-color: #9DC08B !important;
}