.banner-image {
  width: 100% !important;
  height: 200px;
  object-fit: cover;
  border-radius: 16px 64px;
}

.outDivLogin {
  padding: 100px;
  width: 50%;
  background-color: #9DC08B;
  border-radius: 16px 64px;
}

@media only screen and (max-width: 560px) {
  .outDivLogin {
    padding: 50px;
  }

  .banner-image {
    height: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .banner-image {
    height: 100px;
  }
  .outDivLogin{
    width: 100%;
  }
}